.modalBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    
} 
  .modalContainer {
    width: 500px;
    height:600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }